<?xml version="1.0"?>
<projects>
    <project name="Project Name" interval="10">
        <modificationsets>
    	    <svn directory="/path/to/project/build/dir"/>
        </modificationsets>
        <builder type="phing" buildfile="/path/to/phing/project/build.xml" target="test"/>
        <publishers>
            <phing buildfile="build.xml" target="success" publishonsuccess="true"/>
            <phing buildfile="build.xml" target="failed" publishonfailure="true"/>
            <email to="email@example.com" 
                   subject="Project Name build failed" 
                   message="The build failed." 
                   publishonfailure="true"/>
        </publishers>
    </project>
</projects>
